body {
    padding: 0;
    margin: 0;
    background-color: #130d0a;
    font-family: "Playfair Display", serif;
    color: #fff;
}
#hero {
height: 100vh;
overflow: hidden;
position: relative;
}
#content {
background-color: #130d0a;
}
.layer {
background-position: bottom center;
background-size: auto;
background-repeat: no-repeat;
width: 100%;
height: 100vh;
position: fixed;
z-index: -1;
}

.first-section {
padding: 50px 0 20px 0;
}
.text-header {
font-size: 50px;
text-align: center;
}
h1 {
line-height: 120%;
margin-bottom: 30px;
}
p {
color: #ede0d5;
font-size: 18px;
line-height: 150%;
}
#hero, .layer {
height: 100vh;
background-size:cover
}
.layer-bg {
background-color:black;
}

.layer-star1 {
	background-image: url("../media/hero/scrollstar1.png");

}
.layer-star2 {
	background-image: url("../media/hero/scrollstar2.png");
}
.layer-star3 {
	background-image: url("../media/hero/scrollstar3.png");
}

.layer-1 {
	background-image: url("../media/hero/ejected2.png");
	width:6vw;
	height:7.5vw;
	background-size:cover;
}
.layer-2 {
	background-image: url("../media/hero/among-us-accusations.png?v=2");
}
.layer-3 {
background-image: url("../media/hero/anogus.png");
background-position: right bottom;
background-size: 20.1vw 24vw;
}
.layer-4 {
background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png");
position: relative;
}
.layer-overlay {
background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png");
}
@media only screen and (max-width: 768px) {
	#hero, .layer {
		height:40vh;
		background-size:cover
		}

	.layer-3{
		background-size: 150px 180px;
	}
	
	.layer-1{
		width:75px;
		height:100px;
		background-size:cover;
	}
}
.tutorial-link {
color: #fff;
font-size: 18px;
text-decoration: underline;
}
.tutorial-link:hover {
color: #ede0d5;
}


.qauthor{
    text-align: right;
}

.clarification{
    font-size: 10px;
    max-width: 300px;
}

.overimp{
	display:flex; 
	align-items:center; 
	height :100%; 
	width:100%; 
	position: absolute
}

.impostor {
	transform: translate(-100px, 0);
}