:root{
	--text-color:#ede0d5;
	--background-color:#130d0a;
	--smalltext-color:#64554d;
	--smalltext-hover:#928a86;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    font-family: "Playfair Display", serif;
    color: #fff;
	overflow: overlay;
}
body{
	font-size: 16px;
}
@media (min-width: 768px) {
	body{font-size: 18px;}

}
@media (min-width: 1024px) {
	body {
		font-size: 18px;
   }
}
@media (min-width: 1366px) {
	body {
		font-size: 20px;
   }
}
@media (min-width: 1920px) {
	body {
		font-size: 20px;
   }
}
@media (min-width: 2560px) {
	body {
		font-size: 30px;
   }
}


body::-webkit-scrollbar{
    width: 0.25em;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 201, 0.3)
	;
}

button,a:link {
	background: none;
	border: none;
	padding: 0;
	font-family: serif;
	color: var(--smalltext-color);
	text-decoration: underline;
	cursor: pointer;
}



button:visited,a:visited {
	color: var(--smalltext-color);
}	

button:hover,a:hover,button:active,a:active {
	color: var(--smalltext-hover);
}






#hero, #prefooter {
height: 50vw;
overflow: hidden;
position: relative;
}



#content {
background-color: var(--background-color);
position: -webkit-sticky;
position: sticky;
top:50vw;
}
.layer {
background-position: bottom center;
background-size: auto;
background-repeat: no-repeat;
width: 100%;
height: 50vw;
position: fixed;
z-index: -1;
}

.first-section {
padding: 3.125em 0 1.25em 0;
}
.text-header {
font-size: 3.125em;
text-align: center;
}
h1 {
line-height: 120%;
margin-bottom: 1.875em;
}
p {
color: var(--text-color);
font-size: 1em;
line-height: 150%;
}
#hero, .layer {
height: 50vw;
background-size:cover
}
.layer-bg {
background-color:black;
}

.layer-star1 {
	background-image: url("../media/hero/scrollstar1.webp");

}
.layer-star2 {
	background-image: url("../media/hero/scrollstar2.webp");
}
.layer-star3 {
	background-image: url("../media/hero/scrollstar3.webp");
}

.layer-1 {
	background-image: url("../media/hero/ejected2.webp");
	width:6vw;
	height:7.5vw;
	background-size:cover;
	transform: translate(-8vw, 0);
}
.layer-2 {
	background-image: url("../media/hero/among-us-accusations.webp?v=2");
}
.layer-3 {
background-image: url("../media/hero/anogus.webp");
background-position: right bottom;
background-size: 30.1vw 36vw;
}
.layer-4 {
background-image: url("../media/hero/ilu_01.webp");
position: -webkit-sticky;
position: sticky;
top:0;
z-index: 2;
}
.layer-overlay {
background-image: url("../media/hero/ilu_overlay.webp");
}
@media only screen and (max-width: 768px) {
	#hero, .layer {
		height:50vw;
		background-size:cover
		}

	.layer-3{
		background-size: 150px 180px;
	}
	
	.layer-1{
		width:10vw;
		height:13.3vw;
		background-size:cover;
		transform: translate(-10vw);
	}
}


.qauthor{
    text-align: right;
}

.clarification{
    font-size: 0.625em;
    max-width: 18.75em;
}

.overimp{
	display:flex; 
	align-items:center; 
	height :100%; 
	width:100%; 
	position: absolute
}

.stickbox150{
	height: 150vw;
}

.abs150{
	position: absolute;
	height: 150vw;
	width: 100%;
}

#abscontent{
	position: absolute;
	height: 250vw;
	width: 100%;
}

.parallax, .hor-parallax, .impostor, .just-hor-parallax, .just-parallax{
	will-change: transform;
}

div .github{
	border-style: solid;
	border-width: 0.06em;
	border-color: var(--text-color);
	border-radius: 0.18em;
	padding: 0.18em;
	background-color: #333;
	display: flex;
	justify-content: space-around;
	background-image: url(../media/GitHub-Mark-Light-32px.png);
	background-size: 11%;
	background-repeat: no-repeat;
	background-position: 2.5% center;
	line-height: 1.3em;
}

.gh-icon{
	
	background-size: 100%;
	background-repeat: no-repeat;
	height: 0.7em;
	width: 1.3em;
	display:inline-block;
}

.colcont{
	display: flex;
	justify-content: space-around;
}

.star{
	width: 200%;
	background-size: contain;
	background-repeat: repeat-x;
	transform: translate(-100vw,0);
}

#prefooter{
	height:30vw;
	overflow: hidden;
}
.footerlayer {
	background-position: bottom center;
	background-size: 60%;
	background-repeat: repeat-x;
	width: 200%;
	height: 50vw;
	position: absolute;
	z-index: -1;
	}



#prefooter .layer-overlay{
	background-size: cover;
	width: 100%;
}

#prefooter .layer-4 {
	position: absolute;
	top:0;
	background-size: 200%;
	transform: translate(-50vw,0);
	height: 30vw;
}

#prefooter .flip180{transform: translate(-50vw,0) rotate(180deg);}

#prefooter .star{
	height: 500vw;
	background-size: 150vw;
	background-repeat: repeat;
	transform: translate(0 , -400vw);
}

footer{
	font-family: serif;
	color: var(--smalltext-color);
	margin: 3em;
	font-size: 0.8em;
}

.footercol{
	display: flex;
	flex-direction: column;
	text-align: start;
}
.footercol * {
	white-space: nowrap;
	font-size: 1em;
}

.ip{
	text-align: center;
	
	font-size: large;
}

.popups{
	display:none;
}

.modal-inner{
	background-color: var(--background-color);
	color: var(--text-color);
}

.footerbutton{
	text-align: start;
}


.to-be-navbar-container{
	display: flex;
	align-items: center;
	justify-content: center;       
	gap: 0.6em;
	z-index: 5;
}
.to-be-navbar{
	color:white;
	font-family: Nunito, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	display: flex;
	gap: 0.8em;
	justify-content: center;
}
.navbar-link, .navbar-link:link, .navbar-link:hover, .navbar-link:visited{
	color:inherit ; 
	font-family: inherit ;
	font-size: inherit ;
	text-decoration: none ;
	
	
}




.dropdown-content {
	max-height: 0;
    display: block;
    position: absolute;
    box-shadow: 0px 0.5em 1em 0px rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.2);
    z-index: 1;
	overflow: hidden;
	transition: max-height 0.2s steps(4);
	transform: translateX(-0.16em);
  }

  .dropdown:hover .dropdown-content, #dropdown-link:focus + .dropdown-content{
	max-height: calc(1.8em * 4);
}

  .dropdown-content a {
    float: none;
    display: block;
	margin: 0.16em;
	white-space: nowrap;  }
  